<div class="container-fluid">

  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{title}}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main row -->
  <div class="row">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Añadir Paciente</h3>
          </div>
          <form [formGroup]="pacienteForm" >

            <!-- /.card-header -->
            <div class="card-body">

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="dni">DNI:</label>
                    <input id="dni" formControlName="dni" class="form-control" 
                    [ngClass]="{'is-invalid': pacienteForm.get('dni').invalid && pacienteForm.get('dni').touched}">
                    <span *ngIf="pacienteForm.get('dni').invalid && pacienteForm.get('dni').touched" class="help-block">
                      <strong style="color: red;">Dni es requerido y debe ser valido.</strong>
                    </span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nombre">Nombres:</label>
                    <input id="nombre" formControlName="nombre" class="form-control"
                    [ngClass]="{'is-invalid': pacienteForm.get('nombre').invalid && pacienteForm.get('nombre').touched}">
                    <span *ngIf="pacienteForm.get('nombre').invalid && pacienteForm.get('nombre').touched" class="help-block">
                      <strong style="color: red;">Nombre es requerido </strong>
                    </span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="apellido">Apellidos:</label>
                    <input id="apellido" formControlName="apellido" class="form-control"
                    [ngClass]="{'is-invalid': pacienteForm.get('apellido').invalid && pacienteForm.get('apellido').touched}">
                    <span *ngIf="pacienteForm.get('apellido').invalid && pacienteForm.get('apellido').touched" class="help-block">
                      <strong style="color: red;">Apellido es requerido </strong>
                    </span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fecha_nac">Fecha de Nacimiento:</label>
                    <input id="fecha_nac" formControlName="fecha_nac" type="date" class="form-control"
                    [ngClass]="{'is-invalid': pacienteForm.get('fecha_nac').invalid && pacienteForm.get('fecha_nac').touched}">
                    <span *ngIf="pacienteForm.get('fecha_nac').invalid && pacienteForm.get('fecha_nac').touched" class="help-block">
                      <strong style="color: red;">Fecha de nacimiento es requerido </strong>
                    </span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="sexo">Sexo:</label>
                    <select id="sexo"  formControlName="sexo" class="form-control">
                      <option>Hombre</option>
                      <option>Mujer</option>
                      <option>Otro</option>
                    </select>              


                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="domicilio_pcte">Domicilio:</label>
                    <input id="domicilio_pcte" formControlName="domicilio_pcte" class="form-control">
                  </div>
                </div>


              </div>

              <div class="row">

                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="numero_dom">Número :</label>
                    <input id="numero_dom" formControlName="numero_dom" type="number" class="form-control">
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="man_dom">Manzana:</label>
                    <input id="man_dom" formControlName="man_dom" type="number" class="form-control">
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="lote_dom">Lote:</label>
                    <input id="lote_dom" formControlName="lote_dom" type="number" class="form-control">
                  </div>
                </div>

              </div>


            </div>
            <div class="card-footer">
              <button *ngIf="!paciente._id; else elseBlock" type="submit" [disabled]="pacienteForm.invalid"
              class="btn btn-info " (click)="onSubmit()">Enviar</button>
            <ng-template #elseBlock>
              <button type="submit" (click)='update()' class="btn btn-info "
                [disabled]="pacienteForm.invalid">Actualizar</button>
            </ng-template>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
  <!-- /.row (main row) -->
</div>