<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">{{title}}</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Buscar Paciente</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Numero de Documento</label>
                            <input [formControl]="searchControl" placeholder="Escribir DNI" class="form-control" name="dni">
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.card -->

            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Datos del Paciente</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                     @if(!banVacio){
                        <div class="card-body">
                            <strong>Dni:</strong> &nbsp; {{patient.dni}}<br>
                            <strong>Nombres:</strong>&nbsp; {{patient.apellido}}&nbsp; {{patient.nombre}}<br>
                            <strong>Edad:</strong>&nbsp; {{patient.edad}}<br>
                            <strong>Fecha Nacimiento:</strong>&nbsp; {{patient.fecha_nac | date:'dd/MM/yyyy'}} <br>
                            <strong>Direccion:</strong> &nbsp; {{patient.domicilio_pcte}} &nbsp; {{patient.numero_dom}}<br>
                        </div>
                     }
                     @if(banVacio){
                        <div class="card-body">
                            <strong>Paciente no encontrado en la base de datos !</strong>
                            <br>
                            <br>

                            <button type="button" class="btn btn-info" (click)="nuevoPaciente()" >Agregar Paciente</button>
                        </div>
                     }
 
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Nueva Interconsultas</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Tipo de Interconsulta</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="tipoNueva" name="tipo" (change)="isSelectedRole('Nueva')" checked>
                                    <label for="tipoNueva" class="form-check-label">Nueva</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="tipoSeguimiento" name="tipo" (change)="isSelectedRole('Seguimiento')">
                                    <label for="tipoSeguimiento" class="form-check-label">Seguimiento</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 input-group">
                                <label class="">Estudio</label>
                                <div class="input-group col-12">
                                    <input placeholder="Escribir estudio" class="form-control" [(ngModel)]="estudio.descripcion" name="estudio">
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" (click)="saveEstudios()">Agregar</button>
                                        </span>
                                </div>

                                <!--PRUEBA DE ESTUDIOS-->
                                <div class="d-flex col-12" *ngIf="interconsulta.estudios && interconsulta.estudios.length > -1">
                                    <div class="card card-none" *ngFor="let estudi of interconsulta.estudios">
                                  
                                      <div class="card-header">
                                        <h3 class="card-title p-0">{{ estudi.descripcion }}</h3>
                                        <div class="card-tools">
                                          <button type="button" class="btn btn-tool" data-card-widget="remove" (click)="deleteEstudios(estudi.descripcion)">
                                            <i class="fas fa-times"></i>
                                          </button>
                                        </div>
                                        <!-- /.card-tools -->
                                      </div>
                                      <!-- /.card-header -->
                                    </div>
                                    <!-- /.card -->
                                  </div>
                               
                              
                            </div>
                     
                 
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Motivo de Consulta</label>
                                    <textarea class="form-control" rows="3" placeholder="Escribir motivo" id="descripcion" [(ngModel)]="interconsulta.descripcion" name="descripcion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning" (click)="save()">GUARDAR</button>&nbsp;
                            <button type="button" class="btn btn-danger" (click)="cancel()">CANCELAR</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Historial de Interconsultas</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <table class="col-sm-12 table-bordered text-center me-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="pe-2 ps-2">Fecha</th>
                                    <th scope="col" class="pe-2 ps-2 ">Medico</th>
                                    <th scope="col" class="pe-2 ps-2">Diagnostico</th>
                                    <th scope="col" class="pe-2 ps-2 hide-on-mobile">Estudios</th>
                                    <th scope="col" class="pe-2 ps-2 hide-on-mobile">Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of interconsultas | filter:filterText">
                                    <td>{{ item.createdAt | date:'dd/MM/yyyy'}}</td>
                                    <td *ngIf="!item.id_medico">Sin medico asignado</td>
                                    <td *ngIf="item.id_medico">{{item.id_medico.apellido}}, {{item.id_medico.nombre}}</td>
                                    <td>{{ item.descripcion }}</td>
                                    <td *ngIf="!estudios" class="hide-on-mobile">Sin estudios</td>
                                    <td class="hide-on-mobile">       
                                        <ul class="list-group list-group-flush"><li class="list-group-item p-1" *ngFor="let estudio of item.estudios">{{ estudio.descripcion }}</li></ul>
                                </td>
                                    <td class="hide-on-mobile">{{ item.tipo }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>