<div class="container-fluid">

  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Inicio</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main row -->
  <div class="row">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Añadir Medico</h3>
          </div>
          <form [formGroup]="medicoForm" (ngSubmit)="onSubmit()">
            <div class="card-body">
              <div class="row">

                <div>
                  <label for="apellido">Apellido:</label>
                  <input id="apellido" formControlName="apellido" />
                </div>

                <div>
                  <label for="nombre">Nombre:</label>
                  <input id="nombre" formControlName="nombre" />
                </div>

                <div>
                  <label for="cuil">CUIL:</label>
                  <input id="cuil" formControlName="cuil" />
                </div>

                <div>
                  <label for="titulo">Título:</label>
                  <input id="titulo" formControlName="titulo" />
                </div>

                <div>
                  <label for="matricula">Matrícula:</label>
                  <input id="matricula" formControlName="matricula" />
                </div>

                <div>
                  <label for="servicio">Servicio:</label>
                  <input id="servicio" formControlName="servicio" />
                </div>

                <div>
                  <label for="funcion">Función:</label>
                  <input id="funcion" formControlName="funcion" />
                </div>
              </div>

            </div>
            <div class="card-footer">
              <button type="submit" [disabled]="medicoForm.invalid"   class="btn btn-info">Enviar</button>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
  <!-- /.row (main row) -->
</div>