<div class="container-fluid">

  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{title}}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main row -->
  <div class="row">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">{{title}}</h3>
          </div>
          <form [formGroup]="medicoForm">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input id="apellido" formControlName="apellido" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input id="nombre" formControlName="nombre" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="cuil">DNI / CUIL:</label>
                    <input id="cuil" formControlName="cuil" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input id="titulo" formControlName="titulo" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="matricula">Matrícula:</label>
                    <input id="matricula" formControlName="matricula" class="form-control" />
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="servicio">Servicio:</label>
            <!--         <select [compareWith]="compare" id="servicio" formControlName="servicio" class="form-select">
                      @for (item of servicios; track item) {
                      <option [ngvalue]="item">{{item.servicio}}</option>
                      }
                    </select> -->
                  
                      <select matNativeControl id="servicio" formControlName="servicio" name="servicio" class="custom-select">
                        <option value="" selected>Seleccionar Servicio</option>
                        @for (item of servicios; track item) {
                          <option [ngvalue]="item.id">{{item.servicio}}</option>
                        }
                      </select>

                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="funcion">Función:</label>
                    <input id="funcion" formControlName="funcion" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" [disabled]="medicoForm.invalid" class="btn btn-info  "
                (click)="onSubmit()">Enviar</button>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
  <!-- /.row (main row) -->
</div>