<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Interconsultas</b>HPS</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        @if(loginError){
        <p class="login-box-msg " style="color:red">Usuario o contraseña incorrecto </p>
        }
        @if(!loginError){
        <p class="login-box-msg">{{ register ? "Llena tus datos para registrarte" : "Ingresa para iniciar session" }}
        </p>

        }

        <form (submit)="register ? signUp($event) : signIn($event)" [formGroup]="form">

          <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="username" placeholder="Usuario">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>

            </div>
          </div>

          <div class="input-group mb-3">
            <input type="password" formControlName="password" class="form-control" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          @if(register){
          <div class="row">
            <div class="col">
              <p>Ingresar sus datos para registrarse</p>
              <div class="input-group mb-3">
                <input type="text" formControlName="apellido" class="form-control" placeholder="Ingrese su apellidos" />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-id-card"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese su nombres" />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-id-card"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="dni" placeholder="Ingresar su dni">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-id-card"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <select id="servicio" formControlName="servicio" class="custom-select">
                  <option value="" disabled selected>Seleccionar Servicio</option>
                  <option *ngFor="let item of servicios" [value]="item.servicio">
                    {{ item.servicio}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          }
          <div class="row">
            <div class="col-4">
              <button type="submit" [disabled]="form.invalid" class="btn btn-danger btn-block">
                {{ register ? "Registrar" : "Ingresar" }}
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center mb-3">
          <p>- O -</p>
          <a (click)="register = !register" class="btn btn-block btn-primary">
            {{ register ? "Ya tienes un usuario?" : "No tienes usuario ? Registrate" }}

          </a>

        </div>


        <!-- /.login-card-body -->
      </div>
    </div>

  </div>