<aside class="main-sidebar sidebar-dark-primary elevation-4"  >
    <!-- Brand Logo -->
    <a [routerLink]="['/interconsulta']" class="brand-link">
        <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Interconsultas HPS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets\dist\img\user10.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a [routerLink]="['/interconsulta']" class="d-block">
                    {{currentMedico.apellido !== null? currentMedico.apellido:""}}&nbsp;{{currentMedico.nombre !==null?
                    currentMedico.nombre:""}}
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Menu</li>
                <li class="nav-item">
                    <a [routerLink]="['/interconsulta']" class="nav-link">
                        <i class="nav-icon fa fa-address-book"></i>
                        <p>
                            Crear Interconsulta
                            <span class="right badge badge-danger">+</span>
                        </p>
                    </a>
                </li>
               

                <li  class="nav-item">
                    <a [routerLink]="['/interconsulta']" class="nav-link">
                        <i class="nav-icon fas fa-heart"></i>
                        <p>
                            Pacientes
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/pacientes']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado de Pacientes</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/paciente']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Añadir Paciente</p>
                            </a>
                        </li>
                    </ul>
                </li>
              
                <li class="nav-item">
                    <a [routerLink]="['/interconsulta']" class="nav-link">
                        <i class="nav-icon fas fa-user-md"></i>
                        <p>
                            Medicos
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/medicos']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado de Medicos</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/medico']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Añadir Medico</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a [routerLink]="['/usuarios']" class="nav-link">
                        <i class="nav-icon fa fa-users"></i>
                        <p>
                            Usuarios
                            <i class="right fas fa-angle-left"></i>

                        </p>
                    </a>
                </li>

                
                <li class="nav-item">
                    <a [routerLink]="['/interconsulta']" class="nav-link">
                        <i class="nav-icon fas fa-file-text-o"></i>
                        <p>
                            Reportes
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/reports']" class="nav-link">
                                <p>Reportes</p>
                            </a>
                        </li>


                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>